<div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-danger text-white">
              <h1 class="mb-0 pt-5">Unauthorized Access</h1>
            </div>
            <div class="card-body">
              <p class="lead">
                Sorry, you are not authorized to view this page.
              </p>
              <p>
                Please contact the administrator if you believe this is in
                error.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>