<div id="kt_app_sidebar" class="app-sidebar" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="auto" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
    <!--begin::Sidebar primary-->
	<div id="user-data" data-folder='<%= @current_user.id %>'></div>





    <div class="app-sidebar-primary">
        <!--begin::Sidebar navbar-->
        <div class="app-sidebar-navbar flex-grow-1 hover-scroll-overlay-y my-5" id="kt_app_sidebar_primary_navbar" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_primary_footer" data-kt-scroll-wrappers="#kt_app_sidebar_primary_navbar" data-kt-scroll-offset="5px">
        <div class="app-navbar flex-column flex-center">
            <!--begin::Navbar item-->
            <% Project.joins('LEFT JOIN teams AS contract_teams ON projects.id = contract_teams.project_id').joins('LEFT JOIN teams AS signatory_teams ON projects.id = signatory_teams.project_id').where('projects.created_by_id = :user_id OR contract_teams.user_id = :user_id OR signatory_teams.user_id = :user_id', user_id: @current_user.id).order(id: :desc).uniq.each do |project| %>
			<div class="app-navbar-item flex-center px-1 py-3" 
				<% if @project.present? && @project.id == project.id %>
					style="background-color: white; border-radius: 5px;"
				<% end %>
				>
					<!--begin::Navbar link-->
					<a href="/projects/<%= project.id %>/details" class="btn btn-icon">		
						<div class="symbol">
							<div class="symbol-label fs-1 fw-bold bg-light-success text-success"><%= project.name[0].upcase %></div>
						</div>
					</a>
					<!--end::Navbar link-->
				</div>


            <% end %>
            <!--end::Navbar item-->
            <!--begin::Navbar item-->
            <div class="app-navbar-item flex-center py-4">
                <!--begin::Navbar link-->
                <a href="#" class="btn btn-icon btn-accent" data-bs-toggle="modal" data-bs-target="#kt_modal_new_address">
                <i class="ki-outline ki-plus fs-2"></i>
                </a>
                <!--end::Navbar link-->
            </div>
            <!--end::Navbar item-->
            </div>

        </div>
        <!--end::Sidebar navbar-->
        <!--begin::Footer-->
        <div class="d-flex flex-column flex-center pb-4 pb-lg-8" id="kt_app_sidebar_primary_footer"></div>
        <!--end::Footer-->
    </div>



</div>
	<div class="modal fade" id="kt_modal_new_address" tabindex="-1" aria-hidden="true">
		<!--begin::Modal dialog-->
		<div class="modal-dialog modal-dialog-centered mw-650px">
			<!--begin::Modal content-->
			<div class="modal-content">
				<!--begin::Form-->
				<form class="form" action="#" id="kt_modal_new_address_form">
					<!--begin::Modal header-->
					<div class="modal-header" id="kt_modal_new_address_header">
						<!--begin::Modal title-->
						<h2>Create Contract</h2>
						<!--end::Modal title-->
						<!--begin::Close-->
						<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
							<i class="ki-outline ki-cross fs-1"></i>
						</div>
						<!--end::Close-->
					</div>
					<!--end::Modal header-->
					<!--begin::Modal body-->
					<div class="modal-body py-10 px-lg-17">
						<!--begin::Scroll-->
						<div class="scroll-y me-n7 pe-7" id="kt_modal_new_address_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_new_address_header" data-kt-scroll-wrappers="#kt_modal_new_address_scroll" data-kt-scroll-offset="300px">
							<!--begin::Notice-->
							<!--begin::Notice-->
							<div class="notice d-flex bg-light-success rounded border-success border border-dashed mb-9 p-6">
								<!--begin::Icon-->
								<i class="ki-outline ki-information fs-2tx text-success me-4"></i>
								<!--end::Icon-->
								<!--begin::Wrapper-->
								<div class="d-flex flex-stack flex-grow-1">
									<!--begin::Content-->
									<div class="fw-semibold">
										<h4 class="text-gray-900 fw-bold">Warning</h4>
										<div class="fs-6 text-gray-700">Creating a new contract will cost
										<a style="" class="">2</a> tokens.</div>
									</div>
									<!--end::Content-->
								</div>
								<!--end::Wrapper-->
							</div>
							<!--end::Notice-->
							<!--end::Notice-->
							<!--begin::Input group-->
							<div class="d-flex flex-column mb-5 fv-row">
								<!--begin::Label-->
								<label class="required fs-5 fw-semibold mb-2">Contract Title</label>
								<!--end::Label-->
								<!--begin::Input-->
								<input class="form-control form-control-solid" placeholder="" name="contract_name" />
								<!--end::Input-->
							</div>
							<!--end::Input group-->
						</div>
						<!--end::Scroll-->
					</div>
					<!--end::Modal body-->
					<!--begin::Modal footer-->
					<div class="modal-footer flex-center">
						<!--begin::Button-->
						<button type="reset" id="kt_modal_new_address_cancel" class="btn btn-light me-3">Discard</button>
						<!--end::Button-->
						<!--begin::Button-->
						<button type="submit" id="kt_modal_new_address_submit" class="btn btn-primary">
							<span class="indicator-label">Submit</span>
							<span class="indicator-progress">Please wait...
							<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
						</button>
						<!--end::Button-->
					</div>
					<!--end::Modal footer-->
				</form>
				<!--end::Form-->
			</div>
		</div>
	</div>
        		<!--begin::Javascript-->
		<script>var hostUrl = "assets/";</script>
        <!-- Add this script at the end of your HTML, just before the closing </body> tag -->
        <script>
            // Get the current URL path
            var currentURL = window.location.pathname;

            // Select all project links in the sidebar
            var projectLinks = document.querySelectorAll('.app-navbar-item a');

            // Loop through the project links
            projectLinks.forEach(function(link) {
                var projectId = link.getAttribute('href').match(/\/projects\/(\d+)/)[1]; // Extract the project ID from the href

                // Check if the project ID matches the current URL's ID
                if (projectId && currentURL.endsWith('/' + projectId)) {
                    link.parentElement.style.backgroundColor = 'white'; // Set the background color to white
                }
            });
        </script>

		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="assets/plugins/global/plugins.bundle.js"></script>
		<script src="assets/js/scripts.bundle.js"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Vendors Javascript(used for this page only)-->
		<script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
		<!--end::Vendors Javascript-->
		<!--begin::Custom Javascript(used for this page only)-->
		<script src="assets/js/widgets.bundle.js"></script>
		<script src="assets/js/custom/widgets.js"></script>
		<script src="assets/js/custom/apps/chat/chat.js"></script>
		<script src="assets/js/custom/utilities/modals/upgrade-plan.js"></script>
		<script src="assets/js/custom/utilities/modals/create-campaign.js"></script>
		<script src="assets/js/custom/utilities/modals/create-app.js"></script>
		<script src="assets/js/custom/utilities/modals/users-search.js"></script>
        <script src="assets/js/custom/utilities/modals/new-address.js"></script>
    


		<!--end::Custom Javascript-->